<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Grayscaler</title>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ if .Flash }}
                    <div class="alert alert-info">{{ .Flash }}</div>
                    {{ else }}
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <div class="wrapper">
                        <div class="drop">
                            <div class="cont">
                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                <div class="tit">
                                    Drag your image
                                </div>
                                <div class="desc">
                                    OR
                                </div>
                                <div class="browse">
                                    click here to browse
                                </div>
                            </div>
                            <input id="uploadImage" name="uploadImage" type="file" />
                        </div>
                    </div>

                    <img id="image-preview" class="img-responsive hidden" alt="upload-image" />
                    <div class="btn-group upload-btn-group">
                        <button type="submit" class="btn btn-upload hidden"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                        <button type="button" class="btn btn-clear hidden"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>